
  img{
    order: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    margin-left: 75px;
  }

  .col {
    font-family: 'Cormorant Garamond', serif;
    margin-top: 120px;
  }

 

.ContactContainer {
  text-align: center;
}


ul {
  list-style-type: none;
}
/* Resume CSS */
.resumePDF {
  margin-left: 300px
}

/* Project CSS */
.projectRow {
  display: inline-flex;
  flex-wrap: wrap;
}
.CardImg {
  align-self: flex-end;
}