
  img{
    order: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    margin-left: 75px;
  }

  .col {
    font-family: 'Cormorant Garamond', serif;
    margin-top: 120px;
  }

CardImg {
  width: 28rem;
  
}  