
  /* Home CSS */
  img{
    order: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    /* margin-left: 75px; */
  }

  .container {
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    margin-top: 120px;
  }

 

.ContactContainer {
  text-align: center;
}


ul {
  list-style-type: none;
}
/* Resume CSS */
.resume {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}

/* Project CSS */
.projectRow {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 60px;
  
}

.CardImg {
  align-self: center;
  height: 180px;
  width: 210px;
}
.card {
  text-align: center;
  width: 32rem;
  height: 28rem;
  padding: 24px;
}

body {
  background-color: #f2f2f2;
}
.col-6 {
  padding: 10px;
}
.cardTitle {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}
.cardText {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  font-size: medium;
}

/* Contact CSS */
.link {
font-size: 1.5rem;
}
.far {
  margin-right: 11px;
}
.fab {
  margin-right: 11px;
}
.ContactContainer {
  align-items: center;
}

